
/**************************** general ****************************/
/*****************************************************************/
h1,h2,h3,h4,h5{
	padding:0px;
	margin:0 0 25px 0;
	text-transform: uppercase;
	font-family: "roboto";
}
h1{
	font-size:25px;
}
header{
	background: #009de4;
	height: 250px;
	color:#fff;
}
footer{
	background: #002c40;
	height:100px;
}
footer .container p{
	color:#fff;
}
.container{
	padding:30px 0px;
	position:relative;
}

.btn_o{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn_o:focus,
.btn_o:active:focus,
.btn_o.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn_o:hover,
.btn_o:focus {
  color: #333;
  text-decoration: none;
}
.btn_o:active,
.btn_o.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn{
	background:url(../images/btn.jpg) repeat-x;
	text-transform: uppercase;
	color:#fff;
	border:1px solid #06578e;
	font-weight: bold;
	margin-bottom:10px;
	display:block;
}

.btn:hover{
	background:url(../images/btn_hover.jpg) repeat-x;
	border:1px solid #06578e;
	color:#fff;
	font-weight: bold;
}
.main.container{
	min-height: 608px;
}

#deconnexion{
	position:absolute;
	top:30px;
	right:0px;
	color:#fff;
}

#deconnexion:hover{
	color:#fff;
	text-decoration: none;
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.error{
	color:red;
}

.alert{
	min-height: 92px;
}
.user-info strong{
	color:#fff;
}
/************************** Login page **************************/
/****************************************************************/
span.inputGroup{
	display: block;
}
/****************************************************************/
/* Wrappers */

/* ------------------------------- */

 #wrapper {
    width: 100%;
    margin-top: 55px!important; 
    background-color:#04B173; 
}

#myDiv {
    padding: 0 15px;
    min-height: 568px;
	 
}

/* Sidebar Menu Styles */
 
.arrow {
    float: right;
}
.arrow:before {
    content: "\02C2";
}
.active > a > .arrow:before {
    content: "\02C5";
}
/* Circle Buttons */


 .btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}


#accueil{
	background:#428bca;
}

#accueil #content{
	box-shadow: 3px 3px 20px #000;
	background: #fff;
	max-width: 600px;
	margin: 0 auto;
	margin-top: 100px;
	padding:50px;
	position:relative;
}
#accueil #content h1{
	font-family: "roboto";
}

#accueil .propulsion{
	bottom:30px;
	left:30px;
	position:absolute;
}

/************************** Client page **************************/
/****************************************************************/
